#sec_women{
display: none;
}
#sec_kid{
display: none;
}

.error{
    font-size: 12px;
    color: red;
}

.profile{
    width: 40px;
    height: 40px;
    object-fit: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}
